.image {
    width: 30%;
    height: 30%;
    z-index: -1;
}

.about {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 100%;
    height: 100%;
    display:flex;
}

#hello {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.btn {
width: 200px;
height: 50px;
border: none;
color: black;
background-color: rgb(191, 224, 248);
border-radius: 4px;
transition: ease-out 0.3s;
font-size: 16px;
outline: none;
font-family: 'Roboto', sans-serif;
font-weight: 400;
}

.btn:hover {
    box-shadow: inset 200px 0 0 0 #0d60c0;;
}

.is-fluid {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
}

#team {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 72px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.team {
    border-radius: 50%;
    width: 75%;
    height: auto;
}

#box {
    margin-top: 5%;
    background-color: rgb(238, 238, 238);
    width: 380px;
    height: 150px;
    padding: 20px;
    top: 30%;
    left: 40%;
    border-radius: 15px;

}

.head {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
}