.slides {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.image {
    width: 1000px;
    height: auto;
    border-radius: 50px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.right {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: cornflowerblue;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.left {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: cornflowerblue;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}

.slides {
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}